{{define "users/form.html"}}
<h2>{{if .IsEdit}}Edit User{{else}}Create New User{{end}}</h2>

{{if .Error}}
<div style="color: red; margin-bottom: 10px;">
    Error: {{.Error}}
</div>
{{end}}

<form method="POST" action="{{if .IsEdit}}/users/{{.User.ID}}{{else}}/users{{end}}">
    {{if .IsEdit}}
    <input type="hidden" name="_method" value="PUT">
    {{end}}
    
    <div style="margin-bottom: 10px;">
        <label for="name">Name:</label><br>
        <input type="text" 
               id="name" 
               name="name" 
               value="{{if .User}}{{.User.Name}}{{else if .FormData}}{{.FormData.Name}}{{end}}" 
               required 
               style="width: 300px; padding: 5px;">
    </div>
    
    <div style="margin-bottom: 10px;">
        <label for="organizationID">Organization:</label><br>
        <select id="organizationID" name="organizationID" required style="width: 310px; padding: 5px;">
            <option value="">Select an Organization</option>
            {{range .Organizations}}
            <option value="{{.ID}}" 
                    {{if $.User}}
                        {{if eq $.User.OrganizationID .ID}}selected{{end}}
                    {{else if $.FormData}}
                        {{if eq $.FormData.OrganizationID (printf "%d" .ID)}}selected{{end}}
                    {{end}}>
                {{.Name}}
            </option>
            {{end}}
        </select>
    </div>

        <div style="margin-bottom: 10px;">
        <label for="jobID">Organization:</label><br>
        <select id="jobID" name="jobID" required style="width: 310px; padding: 5px;">
            <option value="">Select a Job</option>
            {{range .Jobs}}
            <option value="{{.ID}}" 
                    {{if $.User}}
                        {{if eq $.User.JobID .ID}}selected{{end}}
                    {{else if $.FormData}}
                        {{if eq $.FormData.JobID (printf "%d" .ID)}}selected{{end}}
                    {{end}}>
                {{.Name}}
            </option>
            {{end}}
        </select>
    </div>
    
    <div style="margin-bottom: 10px;">
        <button>
            {{if .IsEdit}}Update{{else}}Create{{end}}
        </button>
        <a href="/users">
            Cancel
        </a>
    </div>
</form>
{{end}}